:root {
  color: white;
  min-height: 100vh;
  width: 100vw;
  
  

  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
    #13161b
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right, 
    rgb(56 189 248)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  /* --eerie-black-2: hsl(240, 2%, 12%); */
  --eerie-black-2: rgb(11 17 32);
  /* --smoky-black: hsl(0, 0%, 7%); */
  --smoky-black: rgb(15 23 42);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  /* --orange-yellow-crayola: hsl(45, 100%, 72%); */
  --orange-yellow-crayola: rgb(56 189 248);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(15, 100%, 50%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: 'Poppins', sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;


}

body {
  overflow-x: hidden;
}


.check-box {
  display: none;
}

.check-box:checked ~ .table-extra-content {
  display: block;
}

.check-box:checked ~ label {
  display: none;
}

.table-extra-content {
  display: none;
}



/* Navigation Links */

.logo:hover {
 color: #f2c854;
 transition: 0.50s ease-in-out;
}

 .link {
 position: relative;
 padding: 7px 0;
 cursor: pointer;
}

.link:hover {
    color: gray;
}

.link::before {
  content: '';
  position:absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: 
white;
  transition: all 350ms ease-in-out;
}
.link::after {
  content: '';
  position:absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: 
white;
  transition: all 350ms ease-in-out;
} 

.link:hover::before, .link:hover::after {
    width: 100%;
    left: 0;
} 

.social-media {
  color: black;
  background-color: whitesmoke;
  width: 23px;
  height: 23px;
}

.social-media:hover, .social-media:focus {
  color: 
  #f2c854;
  background: black;
  outline: none;
  transition: 0.50s ease-in-out;
}


.bgimage {
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0 0 0 2000px rgba(0,0,0,.5); */

}

.radial-gradient {
  background: radial-gradient(
    circle at 50% 0%,
    rgba(250, 250, 250, 0.05) 0%,
    transparent 60%
  ), rgb(52, 52, 52);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white (var(--x) + 100%)
  );

  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white (var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.1) calc(var(--x) + 20%),
    rgba(255, 255, 255, 0.5) calc(var(--x) + 25%),
    rgba(255, 255, 255, 0.1) calc(var(--x) + 100%)

  );
  mask:
  linear-gradient(black, black) content-box,
  linear-gradient(black, black);
  -webkit-mask:
  linear-gradient(black, black) content-box,
  linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}


.mapbox {
  height: 250px;
  width: 100%;
  border-radius: 1px;
  margin-bottom: 30px;
  border: 1px solid var(--jet);
  overflow: hidden;
}

.mapbox figure { height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}

.contact-form { margin-bottom: 10px; }
.contact-form { margin-top: 50px; }

.form-title {
  position: sticky;
  top: 350px; 
  margin-bottom: 20px; 
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: var(--white-2);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--jet);
  border-radius: 1px;
  outline: none;
}

.form-input::placeholder { 
  font-weight: var(--fw-500);
}

.form-input:focus { border-color: var(--orange-yellow-crayola); }

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer { display: none; }

.form-input:focus:invalid { border-color: var(--bittersweet-shimmer); }

.form-btn {
  position: relative;
  width: 38.5%;
  background: var(--border-gradient-onyx);
  color: #f2c854;;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 1px;
  font-size: var(--fs-6);
  text-transform: capitalize;
  box-shadow: var(--shadow-3);
  z-index: 1;
  transition: var(--transition-1);
  
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.form-btn ion-icon { font-size: 16px; }

.form-btn:hover { background: var(--bg-gradient-yellow-1); }

.form-btn:hover::before { background: var(--bg-gradient-yellow-2); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover { background: var(--border-gradient-onyx); }

.form-btn:disabled:hover::before { background: var(--bg-gradient-jet); }


.split-word {
  display: flex;
  flex-wrap: wrap;
}









/* .word {
  position: relative;
} */

/* .linear-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #28251f;
  opacity: 0.8;
  height: 105%;
  width: 105%;
  z-index: 2;
} */





/* 
.drop-down-link {
  position: relative;
  padding: 7px 0;
  cursor: pointer;
 }
 
 .drop-down-link:hover {
     color: gray;
 }

.drop-down-link::before {
  content: '';
  position:absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: 
#F0E68C;
  transition: all 350ms ease-in-out;
}
.drop-down-link::after {
  content: '';
  position:absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: 
#F0E68C;
  transition: all 350ms ease-in-out;
}

.drop-down-link:hover::before, .drop-down-link:hover::after {
    width: 100%;
    left: 0;
}  */


/* 
.menu-icon:hover, .menu-icon:focus {
  color: 
#F0E68C;
  transition: 0.50s ease-in-out;
} */


/* @keyframes appear {
  from {
    opacity: 0;
    scale: 1;
  }
}
  to {
    opacity: 1;
    transform: translateX(0px);
  }

.block {
  animation: appear linear;
  animation-range: entry 0% cover;
} */








